@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-grayish-violet);
}

.flex-container {
    display: flex;
}

.content-chat {
    width: 50%;
    position: relative;
}

.content-text {
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-section {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.booking-section h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--very-dark-desaturated-violet);
    margin-bottom: 2rem;
}

.booking-section p {
    color: var(--dark-grayish-violet);
    width: 400px;
    line-height: 22px;
    font-weight: 500;
}

.chat-side-bg {
    position: absolute;
    height: 85vh;
    width: 27rem;
    background: linear-gradient(to top, var(--light-violet) 60%, var(--light-magenta));
    border-radius: 0 0 50% 50%;
    left: -3.5rem;
    top: 0rem;
}

.mobile-device-view {
    position: relative;
}

.device-border {
    margin-bottom: 5rem;
    width: 250px;
    min-height: 450px;
    position: absolute;
    top: 2.5rem;
    left: 45%;
    border: 8px solid white;
    border-radius: 30px;
    overflow-x: hidden;
    background-color: var(--light-grayish-violet);
}

.device-top-white-bg {
    width: 100px;
    height: 10px;
    z-index: 100;
    position: absolute;
    background-color: white;
    border-radius: 0 0 15px 15px;
    left: 70px;
}

.mobile-top-navbar {
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta)) center center / cover;
    display: flex;
    padding: 1.1rem .8rem .5rem .8rem;
    color: white;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
}

.user-info .image {
    width: 30px;
    margin: auto .8rem;
}

.user-info .image img {
    width: 100%;
    border: white 3px solid;
    border-radius: 50%;
}

.user-info .description h3 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 2px;
}

.user-info .description p {
    font-size: 10px;
    color: var(--pale-violet);
}

.left-dotted-icon {
    position: absolute;
    right: 18px;
}

.discussion {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.discussion p {
    background-color: #ede5f0;
    border-radius: 9px;
    width: 8.2rem;
    font-size: 9px;
    margin-bottom: 5px;
}

.other {
    margin-bottom: 5px;
}

.me {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.me p {
    width: 135px;
    background-color: white;
    padding: 5px;
    color: var(--desaturated-dark-violet);
}

.me p.small {
    width: fit-content;
}

.me p.image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: 130px;
    padding: 0;
}

.me p.image img {
    width: 40px;
    border-radius: 9px;
}

p.price {
    position: relative;
    width: 11rem;
    background: linear-gradient(to left, var(--light-violet), var(--light-magenta)) center center / cover;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

p.price i {
    font-size: 20px;
    color: var(--very-light-magenta);
}

p.price .p {
    color: hsl(270, 20%, 96%);
    margin-left: 10px;
}

p.price .num {
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    right: 10px;
}

form {
    background-color: white;
    margin: 0 15px 15px 15px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

input {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    padding: 15px 15px;
}

textarea,
input {
    outline: none;
}

input:hover,
input:focus,
input:active,
input:checked,
input {
    border: none;
}

form i {
    position: absolute;
    right: 15px;
    color: white;
    background-color: var(--very-dark-desaturated-violet);
    padding: 10px;
    border-radius: 50%;
}

@media(max-width:900px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .content-chat {
        width: 100%;
        height: 100vh;
    }

    .content-text {
        height: auto;
        width: 100%;
        display: contents;
    }

    .booking-section {
        margin-bottom: 5rem;
    }

    .booking-section h1 {
        font-size: 45px;
    }

    .booking-section p {
        color: var(--dark-grayish-violet);
        width: 400px;
        line-height: 22px;
        font-weight: 500;
    }

    .chat-side-bg {
        height: 95vh;
        width: 60%;
        left: -3.5rem;
        top: 0rem;
    }

    .device-border {
        top: 2.5rem;
        left: 40%;
    }
}


@media(max-width:600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .content-chat {
        width: 100%;
        height: 100vh;
    }

    .content-text {
        height: auto;
        width: 100%;
        display: contents;
        margin-bottom: 5rem !important;
    }

    .booking-section {
        margin-bottom: 5rem;
    }

    .chat-side-bg {
        position: absolute;
        height: 95vh;
        width: 60%;
        background: linear-gradient(to top, var(--light-violet) 60%, var(--light-magenta));
        border-radius: 0 0 50% 50%;
        left: -3.5rem;
        top: 0rem;
    }

    .device-border {
        margin-bottom: 5rem;
        width: 250px;
        min-height: 450px;
        position: absolute;
        top: 2.5rem;
        left: 20%;
        border: 8px solid white;
        border-radius: 30px;
        overflow-x: hidden;
        background-color: var(--light-grayish-violet);
    }
}